<div>
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
   mentees size:  <%= @mentees.size %>
   selected size: <%= @selected.size %>
      <% @selected.each do |profile| %>
      <% if profile.select1 %>
      <%= render partial: "selection1", locals: { profile: profile } %>
      <% end %>
      <% end %>
</div>
</div>


