<!DOCTYPE html>
<html>
  <head>
    <div clearfix style =" margin-left: 1%; margin-top: 1%;">
      <img src="../images/pwn_lisbon.png" width="300" height="125" alt="pwn_logo" border="">
    </div>
    <div  align="right">
    <p><%= link_to '<button type="button" class="btn btn-default btn-lg" style =" margin-right: 4%;">Your Account</button>'.html_safe, "user" %></p>
    </div>
  </head>
  <body>
  <div class="container">

    <h1>What is PWN Lisbon?</h1>
    <br>
<h3>PWN Lisbon is a Portuguese branch of PWN Global. PWN Global is a unique off-line and online networking and learning community for women and companies seeking to promote and encourage women’s professional progress.</h3>

    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>

    </div>



    </body>
</html>