<!DOCTYPE html>
<html>
  <head>
    <div clearfix style =" margin-left: 1%; margin-top: 1%;">
      <img src="assets/pwn_lisbon.png" width="300" height="125" alt="pwn_logo" border="">
    </div>
    <div  align="right">
    <p><%= link_to '<button type="button" class="btn btn-default btn-lg" style =" margin-right: 4%;">Your Account</button>'.html_safe, "user" %></p>
    </div>
  </head>
  <body>
  <div class="container">
    <h2>Contacts</h2>
    <br>
<h4>For website related questions: epwnwebmaster@gmail.com</h4>

<h4>For questions about the program: mentoring@pwnlisbon.com</h4>

    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
</div>



    </body>
</html>