<!DOCTYPE html>
<html>
  <head>
    <div clearfix style =" margin-left: 1%; margin-top: 1%;">
      <img src="../images/pwn_lisbon.png" width="300" height="125" alt="pwn_logo" border="">
    </div>
    <div  align="right">
    <p><%= link_to '<button type="button" class="btn btn-default btn-lg" style =" margin-right: 4%;">Your Account</button>'.html_safe, "user" %></p>
    </div>
  </head>
  <body>
  <div class="container">
    <div class="panel panel-default">
  <div class="panel-body">
    PWN Lisbon contacts go here
  </div>
</div>
</div>



    </body>
</html>