<h1> Home#index </h1>
<% if user_signed_in? %>
   Tem sess達o iniciada como <%= current_user.email %>, n達o devia?
   <%= link_to "Terminar sess達o.", destroy_user_session_path, :method => :delete %>
<% else %>
   Por favor ou   
   <%= link_to "registe-se", new_user_registration_path %> ou <%= link_to "Inicie sess達o", new_user_session_path %>
<% end %>
