<!DOCTYPE html>
<html>
  <head>
    <div clearfix style =" margin-left: 1%; margin-top: 1%;">
      <img src="../images/pwn_lisbon.png" width="300" height="125" alt="pwn_logo" border="">
    </div>
    <div  align="right">
    <p><%= link_to '<button type="button" class="btn btn-default btn-lg" style =" margin-right: 4%;">Your Account</button>'.html_safe, "user" %></p>
    </div>
  </head>
  <body>
  <div class="container" >

    <h1> About the Mentoring Program </h1>
    <h3>PWN Lisbon’s mentoring program  pairs together mentees, PWN members, with mentors that are references in their areas. 
      <br>
      <br>
    The program is designed for three different segments of seniority, from board ready women  to those taking their first steps in their professional career. 
<br>
<br>
    The mentees work with their mentor to set and achieve goals during 8-12 monthly sections. They have the support of a team that accompanies the pair as needed, organizes get-togethers and training workshops, aimed at networking and sharing. 
<br>
<br>
    The program has grown significantly given its results orientation and mentors report that learning is mutual.</h3>
    <br>
    <br>
    <br>
    <br>

    </div>



    </body>
</html>