/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 */
*= require_self
*= require_directory
*= require bootstrap
*= require twitter/bootstrap
*= require bootstrap-datepicker3
*= require twitter/bootstrap/responsive

/* Footer */
.facebook_round_gray_32{ background:url(facebook-4-32.png) no-repeat; }
.linkedin_round_gray_32{ background:url(linkedin-4-32.png) no-repeat; }



.footer .wrap {
  width: 85%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'NewsGothicCondensedBold';
  src: url('/assets/newsgothic-boldcond.woff') format('woff');
}

@font-face {
  font-family: 'NewsGothicCondensed';
  src: url('/assets/newsgothic-cond.woff') format('woff');
}

.footer .fr {
  float: right;
}

.footer .fl {
  float: left;
  display: block;
  -webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.footer .menu {
  background: #D9B2B2;
  padding: 30px 0 100px 0;
}

.footer .menu .links {
  margin-top: 5px;
  float: left;
}

.footer .menu .links a {
  color: #4C1A1A;
  margin: 3px 10px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font: 1.2em/1 'NewsGothicCondensedBold';
}

.footer .menu .links a:before {
  position: absolute;

  left: -15px;
}

.footer .menu .links a:first-child {
  margin-left: 0;
}

.footer .menu .links a:first-child:before {
  content: "";
}

.footer .menu .links a:hover {
  color: #fff;
  text-decoration: none;
}

.footer .menu .links a:hover:before {
	color: #4C1A1A;
  text-decoration: none;
}

.footer .menu .social {
  float: right;
}

.footer .menu .social a {
  margin-left: 10px;
  font-size: 4em;
  color: #4C1A1A;
}

.footnote {
  margin-top: 40px;
  margin-left: 7.5%;
  width: 12%;
  font: 1.2em/1 'NewsGothicCondensed';
  color: #1A0000;
  float: right;
  
}

